<!-- <p>homepage works!</p> -->
<div class="banner_section banner_bg">
   <div class="container-fluid">
      <div id="my_slider" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="taital_main">
                  <div class="taital_left">
                     <h1 class="banner_taital" style="min-width:30%">Let's get clear

                        for good.</h1>
                     <div class="read_block">
                        <h1 class="read_text">Get treated online with acne meds and Accutane®, the only prescription
                           that can “cure” acne for good.</h1>
                        <div class="read_bt"><a class="get_started" *ngIf="!loginStatus" (click)="getStarted()">Get
                              Started</a>
                           <a class="get_started" *ngIf="loginStatus" (click)="getStarted_loginuser()">Get Started</a>
                        </div>

                     </div>


                  </div>
                  <div class="taital_right">

                     <div class="product_img col-md-3"><img style=" padding-left: 333px;  height: 1020px;"
                           src="./assets/images/banner_img.png">
                     </div>
                  </div>
               </div>
               <!-- <div class="carousel-item">
                  <div class="taital_main">
                     <div class="taital_left">
                        <h1 class="banner_taital"> Product For Happy Skin</h1>
                        <div class="read_bt"><a href="#">Read More</a></div>
                     </div>
                     <div class="taital_right">
                        <div class="product_img"><img src="./assets/images/about-img.png"></div>
                     </div>
                  </div>
               </div> -->
               <!-- <div class="carousel-item">
                  <div class="taital_main">
                     <div class="taital_left">
                        <h1 class="banner_taital">Deni Product For Skin</h1>
                        <div class="read_bt"><a href="#">Read More</a></div>
                     </div>
                     <div class="taital_right">
                        <div class="product_img"><img src="./assets/images/about-img.png"></div>
                     </div>
                  </div>
               </div> -->
            </div>
            <!-- <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
          <i class='fa fa-arrow-up'></i>
          </a>
          <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
          <i class='fa fa-arrow-down'></i>
          </a> -->
         </div>
      </div>
   </div>
</div>
<!-- about section start -->
<div class="about_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div><img src="/assets/images/about-img2.png" class="about_img"></div>
         </div>
         <div class="col-md-6">
            <h1 class="about_taital">Managing chronic acne from end-to-end</h1>
            <div class="border"></div>
            <p class="about_text">No more cutting work or school to see the dermatologist. No more pharmacy lines or
               remembering complex treatment tasks.</p>
            <p class="about_text">From bloodwork labs, to safety monitoring, to supporting skincare, we've got you on
               your journey.</p>
            <div class="read_bt_1"><a href="#">Learn About Accutane</a></div>&nbsp;&nbsp;&nbsp;
            <div class="read_bt_1"><a href="#">Watch Intro</a></div>

            <div class="image_1"><img src="/assets/images/hs.PNG"></div>
         </div>
      </div>
   </div>
</div>
<!-- about section end -->

<!-- how it work section start -->
<section class="step-section" id="how_it_work">
   <div class="container">
      <h3 class="title sp-475" style="    font-weight: 500; font-size: xx-large;">How it works.</h3>
      <div class="row wraping-step howowrk">
         <div class="col-md-4">
            <div class="feature-box ">
               <div class="feature-step ">
                  <img class="img-fluid" src="assets/images/Answer questions img.png" alt="answer"
                     style="max-width: 71%;">
               </div>
               <div class="feature-detail">
                  <h3><a class="text-underline text_big_underline   ">1. Virtual Intake.</a></h3>
                  <p>Tell us about your acne, skincare, and medical history and we’ll start guiding you on
                     your journey. </p>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="feature-box">
               <div class="feature-step">
                  <img class="img-fluid     " src="assets/images/Virtual consultation img.png" alt="answer"
                     style="max-width: 71%;">
               </div>
               <div class="feature-detail">
                  <h3><a class="text-underline  text_big_underline  ">2. Dermatologist Consultation. </a></h3>
                  <p>Your assigned dermatologist will review your patient information and answer any questions
                     you might have. </p>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="feature-box ">
               <div class="feature-step">
                  <img class="img-fluid" src="assets/images/Surface3.png" alt="answer" style="max-width: 71%;">
               </div>
               <div class="feature-detail">
                  <h3><a class="text-underline  text_big_underline  ">3. Get Prescriptions and Products. </a></h3>
                  <p>We’ll ship your medication and skincare directly to you or you can also pickup medication
                     from your local pharmacy.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- how it work section end -->

<!-- new product section start here -->
<section class="step-section" style="width: 88%;
padding-left: 199px; padding-top: 40px;padding-bottom: 50px;  ">
   <div class="pro_container">

      <!-- <div class="container"> -->

      <h3 class="title sp-475" style=" font-weight: 500; font-size: xx-large; padding-left:120px; ">Tools for skin care
         Journey
         <!-- <img  src="assets/images/repeat_wheel_text.png" style="    padding-left: 683px;
      margin-bottom: -108px;
      position: absolute;
      margin-top: -67px; padding-bottom:53px"  > -->
      </h3>
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
         (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
         (beforeChange)="beforeChange($event)">
         <div ngxSlickItem *ngFor="let pro of productlist" class="slide">
            <img src="{{imageDirectorypath}}{{pro.image_url}}" alt="" width="44%" style="height: 250px;">
            <h6 class="price_textt " style="color: #050505;"    >Price : <span style="color: #f75261;"> $ {{pro.price}}</span>
            </h6>
            <!-- new added s -->
            <h1 class="p-detail">{{pro.title}}</h1>
            <h1 class="p-detail-d">{{pro.short_description}}</h1>
            <div *ngIf="pro.category == 'prescribed' ">
               <button class="price_text_atc atc">Learn More</button>
            </div>
            <!-- login nhi -->
            <div *ngIf="pro.category != 'prescribed'&& !loginStatus  ">
               <!-- <button class="price_text_atc atc" (click)="pro_cart(pro)"
                  [routerLink]="['/shippingcart']">add to cart </button> -->
                  <button class="price_text_atc atc"
               (click)="addtocartlocal(pro.id)"
                  [routerLink]="['/reg']">buy </button>
            </div>
               <!-- login hain -->
            <div *ngIf="pro.category != 'prescribed' && loginStatus ">
               <!-- <button class="price_text_atc atc"
               (click)="addtocartlocal(pro.id)"
                  [routerLink]="['/reg']">buy </button> -->
                  <button class="price_text_atc atc" (click)="pro_cart(pro)"
                  [routerLink]="['/shippingcart']">add to cart </button>
            </div>

            <!--NEW ADD E  -->

            <!-- <button class="price_text_atc atc" (click)="pro_cart(pro)">add to cart</button> -->
         </div>
      </ngx-slick-carousel>

   </div>
</section>
<!-- new product section ends here -->



<!-- product section start old  -->
<!-- <div class="product_section layout_padding">
   <div class="container">
      <div class="row" style="margin-top: 35px;">
         <div class="col-md-12">
            <h1 class="product_taital">Products</h1>
            <p class="product_text">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim</p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">

            <div class=" owl-loaded owl-drag">
               <div class="owl-stage-outer">
                  <div class="owl-stage">
                  
                     <div class="">
                        <owl-carousel-o [options]="customOptions">
                           <ng-container *ngFor="let pro of productlist">
                              <ng-template carouselSlide>
                                 <div class="item m-3">
                                    
                                    <div class="img-bord">
                                       <img src="{{imageDirectorypath}}{{pro.image_url}}" alt="image" />
                                    </div>
                                 
                                    <h6 class="price_textt">Price <br><span style="color: #f75261;">{{pro.price}}</span>
                                    </h6>
                                    <button class="price_textt atc" (click)="pro_cart(pro)">add to cart</button>
                                 </div>
                              </ng-template>
                           </ng-container>
                        </owl-carousel-o>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
 </div>   -->
<!-- product section end old -->
<!-- <img  src="assets/images/repeat_wheel_text.png" class="rpt-img" style="    padding-left: 1542px;  top: -183px;
   overflow-clip-margin: content-box;
overflow: clip; "   > -->
<!-- before and after strart here -->



<div>
   <!-- <img src="assets/images/repeat_wheel_text.png" style="       padding-left: 1616px;
margin-bottom: -108px;
position: absolute; height: 250px;
margin-top: -114px; padding-bottom:53px"> -->

   <div class="client_section layout_padding banner_bg" style="padding-top: 45px; ">

      <div class="container">
         <div class="row">
            <div class="col-md-3">
               <h1 class="client_taital">Before And After</h1>
            </div>
            <div class="col-md-9">
               <div class="client_box">
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <p class="client_text">“Before Accutane I tried every face wash, OTC product, and expensive
                              skincare treatment on the market which didn't really make a difference. After going on it,
                              I've never been happier and confident with my skin.”
                           </p>
                           <div class="client_main">
                              <div class="client_left">
                                 <div class="client_img"><img style=" height : 148px;"
                                       src="/assets/images/Before_img.png">
                                 </div>
                              </div>
                              <div class="client_right">
                                 <div class="quick_icon"><img src="/assets/images/quick-icon.png"></div>
                                 <!-- <h6 class="client_name">Uliya Hindd</h6> -->
                                 <p class="aliqua_text">Alexa F</p>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <p class="client_text">“Before Accutane I tried every face wash, OTC product, and expensive
                              skincare treatment on the market which didn't really make a difference. After going on it,
                              I've never been happier and confident with my skin.”
                           </p>
                           <div class="client_main">
                              <div class="client_left">
                                 <div class="client_img"><img style=" height : 148px;"
                                       src="/assets/images/After1_img.png">
                                 </div>
                              </div>
                              <div class="client_right">
                                 <div class="quick_icon"><img src="/assets/images/quick-icon.png"></div>
                                 <!-- <h6 class="client_name">Uliya Hindd</h6> -->
                                 <p class="aliqua_text">Alexa F</p>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <p class="client_text">“Before Accutane I tried every face wash, OTC product, and expensive
                              skincare treatment on the market which didn't really make a difference. After going on it,
                              I've never been happier and confident with my skin.”
                           </p>
                           <div class="client_main">
                              <div class="client_left">
                                 <div class="client_img"><img style=" height : 148px;"
                                       src="/assets/images/After2_img.png">
                                 </div>
                              </div>
                              <div class="client_right">
                                 <div class="quick_icon"><img src="/assets/images/quick-icon.png"></div>
                                 <!-- <h6 class="client_name">Uliya Hindd</h6> -->
                                 <p class="aliqua_text">Alexa F</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- client section ends here -->

<!-- Blog section start -->
<!-- <div class="blog_section layout_padding"> -->
<div style="background-color: beige; padding: 34px;">
   &nbsp;<br>
</div>


<div class="container">


   <div class="blog_section_3" >
      <div class="row">
         <div class="col-md-7">
            <h1 class="face_text">Thoughts</h1>
            <div class="row">
               <div class="col row_class"><img src="/assets/images/Michael Chang.jpg" alt="" style="height:60px "></div>
               <div class="col row_class2  ">Written by Michael Chang

                  Medically reviewed by Dr. Aaron Farberg

                  Last updated 9/23/2021
               </div>
            </div>
            <p class="lorem_text_a">The Accutane Stigma – Examining the Concerns</p>
            <p>When we created Clear Health we thought long and hard about centering our initial focus on Accutane, a
               drug whose name triggers a rather polarizing response. If you Google around,......</p>
            <div class="readmore_bt"><a href="#">Read More</a></div>
         </div>
         <div class="col-md-5">
            <div class="face_img"><img src="/assets/images/blog_img.png" class="face_img"></div>
         </div>
      </div>
   </div>
   <!-- <div style="background-color: white; "  >
      gggg
      &nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   </div> -->
</div>


<div class="blog_section_4"style="background-color: beige; "  >


</div>



<!-- </div> -->
<!-- Blog section end -->