<!-- first reg -->


<!-- <section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form [formGroup]="registerForm"  >

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" name="name" formControlName="name" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Your Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" name="email" formControlName="email" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg"  name="pwd" formControlName="password" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cdg" name="cpwd" formControlName="c_password" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
  
                  <button type="submit" (click)="onSubmit()" >Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account?
                 <button>  <a href=""
                    class="fw-bold text-body" (click)="login()"><u>Login here</u></a></button></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


<!-- second reg -->


<!-- <div class="col-md-4 col-md-offset-4" id="login">
						<section id="inner-wrapper" class="login">
							<article>
								<form>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"> </i></span>
											<input type="text" class="form-control" placeholder="Name">
										</div>
									</div>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-envelope"> </i></span>
											<input type="email" class="form-control" placeholder="Email Address">
										</div>
									</div>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-key"> </i></span>
											<input type="password" class="form-control" placeholder="Password">
										</div>
									</div>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-key"> </i></span>
											<input type="password" class="form-control" placeholder="Confirm Password">
										</div>
									</div>
									  <button type="submit" class="btn btn-success btn-block">Submit</button>
								</form>
							</article>
						</section></div> -->

<!-- third reg -->




<!-- <div class="page-content">
  <!--Page Title-->
<!-- <div class="page section-header text-center">
    <div class="wrapper">
      <h1 class="page-width">Create an Account</h1>
    </div>
  </div> -->
<!--End Page Title-->
<!-- <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3 ">
        <div class="mb-4">


  
          <form class="contact-form">

            <div class="row">
              <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 ">
                <label for="fullname" class=""> Name </label>

                <input id="fullname" type="text" class="form-control " name="fullname" value="" required
                  autocomplete="name" autofocus>



              </div>


              <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12">
                <label for="email" class="">email</label>


                <input id="email" type="email" class="form-control" name="email" value="" required autocomplete="email">


          
              </div>

              <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12">
                <label for="password" class="">password</label>

 
                <input id="password" type="password" class="form-control" name="password" required
                  autocomplete="new-password">


              </div>

              <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12">
                <label for="password-confirm" class="">Confirm password</label>

      
                <input id="password-confirm" type="password" class="form-control" name="password_confirmation" required
                  autocomplete="new-password">
               
              </div>


            </div>
            <div class="row">
              <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                <button type="submit" class="btn btn-primary">

                </button>
              </div>
            </div>
          </form>
        
        </div>
      </div>
    </div>

  </div>
</div> -->

<!-- forth reg -->
<section  style="height:100vh"   >
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="../assets/images/img11.png" class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form [formGroup]="registerForm">

          <div class="block-part2">

            <h5 style="color: black; font-weight: bold;"> You're eligible for hapy skin! Let's create your account.</h5>
         
        </div>


          <!-- name input -->
          <div class="form-outline mb-4">

            <input type="text" id="form3Example1cg" class="form-control form-control-lg" formControlName="name" />
            <label class="form-label">name </label>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">

            <input type="email" id="form3Example3cg" class="form-control form-control-lg" formControlName="email" />
            <label class="form-label">Email address</label>
          </div>

          <div class="form-outline mb-4   row"  >
        <div class="col-lg-6">
              <div class="form-group" style=" display: flex; flex-wrap: wrap;">
                <input type="text" formControlName="phone_no"
                  class="form-control default-cursor ng-untouched ng-pristine ng-valid">
               <label class="form-label" >phoneNumber</label>


              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group" style=" display: flex; flex-wrap: wrap;">
             
                  <select  class="form-control default-cursor ng-untouched ng-pristine ng-valid"
                  formControlName="gender"
                  >

                  <option ng-reflect-value=""></option>
                  <option class="ng-star-inserted">Female</option>
                  <option class="ng-star-inserted">male</option>
              </select>
               <label class="form-label" >Select Gender</label> 


              </div>
            </div> 
          </div>


          <!-- Password input -->
          <div class="form-outline mb-4">

            <input type="password" id="form3Example4cg" name="pwd" class="form-control form-control-lg"
              formControlName="password" />
            <label class="form-label">Password</label>
          </div>

          <!-- confirm  Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="form3Example4cdg" name="cpwd" class="form-control form-control-lg"
              formControlName="c_password" />
            <label class="form-label"> Confirm Password</label>
          </div>

          <!-- gender  -->
<!--          
          <div class="form-outline mb-4">
            <input type="radio" id="form3Examplecdg" name="gender"  value="male"    
              formControlName="gender" />Male
              <input type="radio" id="form3Examplecdg" name="gender" value="female" 
              formControlName="gender" />Female
          </div>
          <label class="form-label"> Gender</label> <br> -->




          <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Register</button>

          <!-- Submit button -->
          <!-- <button type="submit" class="btn btn-primary btn-lg btn-block"  (click)="login()" >Sign in</button> -->

          <p class="text-center text-muted mt-5 mb-0">Have already an account?
            <button> <a href="" class="fw-bold text-body" (click)="login()"><u>Login here</u></a></button>
          </p>


        </form>
      </div>
    </div>
  </div>
</section>