<!-- <div class="sidebar">
   <a routerLink="/about" class="col">About</a>
   <a class="active" routerLink="/home">Home</a>
   <a routerLink="/profile">Profile</a>
   <a routerLink="/orders">Orders</a>
   <a routerLink="/dashboardshipments">Shipments</a>
   <a routerLink="/logout">Logout</a>
 
 </div> -->


 <!-- about section start -->
 <div class="about_section layout_padding"  style="height: 100vh;"  >
    <div class="container">
       <div class="row">
          <div class="col-md-6">
             <div><img src="/assets/images/img25.png" class="about_img"></div>
          </div>
          <div class="col-md-6">
             <h1 class="about_taital">We’re building a better care model for chronic skin disease.</h1>
             <!-- <div class="border"></div> -->
             <p class="about_text">
               We know the struggle with skin issues. Dermatologists are always booked out. Proven treatments exist, but they can be extremely complicated and only take into account the physical, not the mental side of skin issues.

               We’re changing this.
               As acne sufferers ourselves, we think getting clear should be easier, affordable, and safer. We’re setting out to build an end-to-end model of care that incorporates seamless specialist evaluations, digital treatment management, prescriptions, skincare, and even mental health services when appropriate – all delivered in the comfort of your home.
               
               Welcome to Happy Skin.             
             
             
             
             <div class="read_bt_1"><a href="#">Read More</a></div>
             <!-- <div class="image_1"><img src="/assets/images/img25.png"></div> -->
          </div>
       </div>
    </div>
 </div>
 <!-- about section end -->