<div class="container"  style="align-items: center;padding-left: 373px;padding-right: 600px; min-height:100vh;  ">
    <!-- <div class="col-lg-6 col-xl-7 col-md-12"> -->
        <div class="block-part1">
            <img style="margin:18px;" src="assets/images/Iconleft.png" (click)="back()" alt="">
            <a id="back1" class="back_word" (click)="back()" >Back</a>
        </div>
        <div class="block-part2">
            <h5 style="color: black; font-weight: bold;">OK,Lets get started</h5>

        </div>
        <div class="block-part2">
            <h5 style="color: black;">In the next screens, we’ll ask a series of medical and skincare questions to help determine appropriate treatments.</h5>

        </div>
        
        <div class="block-part2">
            <div class="block3">
                <button class=" formsubmit_come"
                    (click)="question()">Continue</button>
            </div>
        </div>

</div>
