<div class="container" style="height: 150vh;">
    <div class="block">


        <div class="block-part1" style="align-items: center; padding-top: 5px;">

            <h2>Reminder: iPledge Requirements for Patients Who Can Get Pregnant (Female Patients)</h2>
            <p>Be prepared to take pregnancy tests monthly</p>

        </div>

        <div class="block-part2">
            <img src="./assets/images/r_1.png" alt="" style="height:250px">
        </div>

        <div class="block-part3">
            <p>If approved for Accutane, you’ll need to upload a photo of your first negative pregnancy test to be
                enrolled
                into the iPledge program. Pregnancy tests can be purchased from your local drugstore.</p>
        </div>
    </div>
    <div class="block">
        <div class="block-part1" style="align-items: center; padding-top: 5px;">
            <h2>30-day “wait period” if approved for treatment</h2>
        </div>


        <div class="block-part2">
            <img src="./assets/images/r_2.png" alt="" style="height:250px">
        </div>

        <div class="block-part3">
            <p>Female patients must undergo an initial 30-day “wait period” before they can submit a follow-up
                evaluation and a second pregnancy test to receive the first supply of pills.</p>
        </div>

    </div>
    <button type="button" class="formsubmit_come"  (click)="continue()"  >Continue </button>

</div>