p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.bg-third {
    background-color: #eaf5f5 !important;
}
.p-3 {
    padding: 1rem!important;
}
.ordercomplete-page .ouert-order-complete {
    max-width: 380px;
    margin: 0 auto;
}
/* .img-fluid {
    max-width: 100%;
    height: auto;
}
.img {
    overflow-clip-margin: content-box;
    overflow: clip;
} */
button {
    box-sizing: border-box;
    position: relative;
    /* -webkit-user-select: none; */
    /* -moz-user-select: none; */
    /* -ms-user-select: none; */
    user-select: none;
    /* cursor: pointer; */
    outline: none;
    border: none;
    /* -webkit-tap-highlight-color: transparent; */
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    /* line-height: 36px; */
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
}
.mat-button-ripple.mat-ripple, .mat-button-focus-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    border-radius: inherit;
}
.mat-ripple {
    overflow: hidden;
    position: relative;
}
.mat-button-ripple.mat-ripple, .mat-button-focus-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    border-radius: inherit;
}