<section class="ordercomplete-page section-specing">






    <div class="container-fluid">
        <div class="text-center">
            <p class="thanku-text">Thank you for your order!</p>
        </div>
        <div class="ouert-order-complete text-center">




            <div class="procesing-order"></div>
            <div class="display-text bg-third p-3">
                <!-- <div class="emoji2"><img _ngcontent-ksm-c104="" src="assets/images/Emoji2.png" alt="emoji2"
                    class="img-fluid">
            </div> -->
                <form>
                    <div class="form-group bg-white m-0">
                        <div 
                            style="font-size: 16px; line-height: 2.5; font-weight: 700; color: #041f28; border-radius: .3rem; border: 1px solid rgb(0 0 0 / 87%);" 
                            >
                            {{ordernumber}}</div>
                    </div>
                </form>
            </div>
            <div class="description mt-3">
                <p>We’ll send you an email notification with tracking information once your order has
                    shipped!</p>
            </div>


            <button type="button" style="background-color: rgb(187, 167, 241);" (click)="continue_shoping()"
                class="btn btn-lg btn-primary mt-2">Continue shopping</button>
            <button style=" margin-top: 12px;" class="mat-focus-indicator w-100 mat-stroked-button mat-button-base" (click)="myord()">
                <span class="mat-button-wrapper">
                    My Orders</span><span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false"
                    ng-reflect-centered="false"></span></button>



            <p>Questions? Checkout our <span class="faqtext text-underline"><a>FAQs page</a></span> or contact us
                at&nbsp; <span class="faqtext text-underline"><a
                        href="mailto: support@happyskin.com ">support@happyskin.com</a></span></p>
        </div>
    </div>
</section>