.formsubmit_come{
    background-color: rgb(132, 208, 238);
    border-radius: 25px;
    height: 35px;
    width: 194px;
    border-color: aliceblue;
    /* padding-top: 45px; */
}
.m{
    margin: 0 !important;
    padding-top: 0px;
}
.mat-radio-button {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #000;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    min-width: 500px;
    outline: 0;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
}
.gen-btns{
    width: 86px;
    margin: 25px;
    display: block;
    width: 313px;
}
mat-checkbox{
    display: block;
}
.img-acne{
    min-height: 19px;;
}
.field{
    display:flex;
}