<div class="container" style="align-items: center;padding-left: 373px;padding-right: 600px;  ">
    <div class="bring" id="div1">
        <form [formGroup]="Formgroup1" id="form13" style="display: block;">
            <div class="block-part1">
                <img style="margin:18px;" src="assets/images/Iconleft.png" alt="">
                <a id="back1" class="back_word">Back</a>
            </div>
            <div class="block-part2">
                <h5 style="color: black; font-weight: bold;">Optimize your routine with our esthetician-designed
                    skincare line:</h5>

            </div>
            <mat-radio-group aria-label="Select an option" class="radio-sribed" formControlName="other_products">

                <mat-radio-button value="jojoba_oil_moisturizer_set">
                    <div class="field">
                        <div style="width:80% ;padding-left: 10px;">
                            <span>Jojoba Oil Cleanser & Moisturizer Set </span><br>
                            <span>Shipped to you every 2 months </span><br><br>
                            <span style="color:rgb(95, 171, 243);">Cancel anytime</span><br><br>
                            <div style="justify-content: space-between; display: flex;">
                                <div>
                                    <span style="text-decoration:line-through">$56</span><span>$50</span>
                                </div>
                                <div>
                                    <span> Save $6</span>
                                </div>

                            </div>

                        </div>
                        <div style="width:15%">
                            <img class="img-acne" src="./assets/images/Gently_cleanse_img-222.png" alt=""
                                style="height:123px;  width:315px">
                        </div>
                    </div>
                </mat-radio-button>

                <mat-radio-button value="light_weight_moisturizer">
                    <div class="field">
                        <div style="width:80% ;padding-left: 10px;">
                            <span>Lightweight Moisturizer </span><br>
                            <span>Shipped to you every 2 months </span><br><br>
                            <span style="color:rgb(95, 171, 243);">Cancel anytime</span><br><br>
                            <div style="justify-content: space-between; display: flex;">
                                <div>
                                    <span style="text-decoration:line-through">$28</span><span>$25</span>
                                </div>
                                <div>
                                    <span> Save $3</span>
                                </div>

                            </div>

                        </div>
                        <div style="width:15%">
                            <img class="img-acne" src="assets/images/img-2.png" alt=""
                                style="height:123px;  width:315px">
                        </div>
                    </div>
                </mat-radio-button>

                <mat-radio-button value="jojoba_oil_cleanser">
                    <div class="field">
                        <div style="width:80% ;padding-left: 10px;">
                            <span>Lightweight Moisturizer </span><br>
                            <span>Shipped to you every 2 months </span><br><br>
                            <span style="color:rgb(95, 171, 243);">Cancel anytime</span><br><br>
                            <div style="justify-content: space-between; display: flex;">
                                <div>
                                    <span style="text-decoration:line-through">$28</span><span>$25</span>
                                </div>
                                <div>
                                    <span> Save $3</span>
                                </div>

                            </div>

                        </div>
                        <div style="width:15%">
                            <img class="img-acne" src="assets/images/img-2.png" alt=""
                                style="height:123px;  width:315px">
                        </div>
                    </div>
                </mat-radio-button>



            </mat-radio-group>
            <!-- <span class="text-danger" *ngIf="error">
            field is required
        </span> -->
            <div class="block-part2">
                <div class="block3">
                    <button class=" formsubmit_come  m-4" (click)="continue()">No thanks, skip the add-ons</button>
                </div>
            </div>
        </form>

    </div>

</div>