
<div  class="rows">
    <div style=" align-items: center;  margin-left: 700px;" class="cols">   
<div class="forgetpass" >
<div class="card text-center" style="width: 300px;">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Enter your email address and we'll send you an email with instructions to reset your password.
        </p>
        <div class="form-outline">
            <input type="email" id="parentemail"   class="form-control my-3" />
            <label class="form-label"     for="typeEmail">Email input</label>
        </div>

     


        <!-- <a href="#" class="btn btnfp btn-primary w-100" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openModel()" >submit</a> -->
        <a href="#" class="btn btnfp btn-primary w-100" (click)="submit()"  >submit</a>
        <div class="d-flex justify-content-between mt-4">
            <a class="" (click)="login()">Login</a>
            <a class="" (click)="registration()">registration</a>
        </div>
    </div>
</div>
</div></div>

</div>


    <!-- Modal -->
  <form  [formGroup]="forgetpform">

  <div class="modal fade" id="exampleModal" tabindex="-1"   aria-labelledby="exampleModalLabel" aria-hidden="true">
   
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- email id  -->
          <div class="form-outline mb-4">

            <input  type="email" id="form3Example3cg" name="email" class="form-control form-control-lg"  formControlName="email" />
            <label class="form-label"  >email</label>
          </div>


          <!-- Password input -->
          <div class="form-outline mb-4">

            <input type="password" id="form3Example4cg" name="pwd" class="form-control form-control-lg"  formControlName="password"/>
            <label class="form-label" >Password</label>
          </div>

           <!-- confirm  Password input -->
           <div class="form-outline mb-4">

          
                 

            <input type="password" id="form3Example4cdg" name="cpwd" class="form-control form-control-lg"  formControlName="c_password"/>
            <label class="form-label" > Confirm Password</label>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"  (click)="forgetp()">reset</button>
        </div>
      </div>
    </div>

  </div> 
  </form>

  