<p>product works!</p>

 <!-- product section start -->
 <div class="product_section layout_padding">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <h1 class="product_taital">Products</h1>
             <p class="product_text">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim</p>
          </div>
       </div>
       <div class="row">
       
          <div class="col-md-12">
    
       

            <owl-carousel-o [options]="customOptions">
               <ng-container *ngFor="let pro of productlist">
                  <ng-template carouselSlide><div class="item m-4">
                     <!-- <div class="image_main"> -->
                        <div class="img-bord">
                        <img src="{{imageDirectorypath}}{{pro.image_url}}" alt="image" />
                     </div>
                     <!-- </div> -->
                     <h6 class="price_text">Price <br><span style="color: #f75261;">{{pro.price}}</span></h6>
                     <button class="price_text atc" (click)="pro_cart(pro)">add to cart</button>
                  </div></ng-template>  
               </ng-container>
            </owl-carousel-o>
    
            <!-- <button type="button" (click)="addToCart(product)">Buy</button> -->

          </div>
       </div>
    </div>
 </div>
 <!-- product section start -->
    <!-- Javascript files-->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery-3.0.0.min.js"></script>
    <script src="/assets/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/assets/js/custom.js"></script>
    <!-- javascript --> 
    <script src="/assets/js/owl.carousel.js"></script>
    <!-- owl carousel -->
    <script>
       $('.owl-carousel').owlCarousel({
       loop:true,
       margin:30,
       nav:true,
       responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:4
        }
       }
       })
    </script>
