.row-profile {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.container-outerside{
    padding-top: 55px;
    padding-bottom: 55px;
    border-radius: 2px;
    border-color: black;
  
}











.inner_block {
    border: 1.5px solid rgb(18, 18, 19);
    padding-top: 15px;
    padding-left:45px;
    padding-bottom: 15px;
    margin-block: 2px;
    min-height: 396px;
}
.form-group-pass{
   padding:5px;
}
/* @media (min-width: 992px){
.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
}
@media (min-width: 768px){
.col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
}} */
.col-md-12 {
padding-right: 15px;
padding-left: 15px;}

.basic_detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.basic_detail .heading_basic_detail {
    display: flex;
    align-items: center;
}
.pointer {
    cursor: pointer;
}
.Submit_btn {
    margin-top: 12px;
   

}
.matbutton{
    background-color: #f74c67;
    width: 25%;
   color:white;
    border: solid black 1px;
    border-radius: 15px;   
}
.mat-stroked-button:hover{
    color: #0a0a0a;
    background-color: #f1e8e9;
}
.text-underline:hover{
    color:#f74c67;
    text-decoration: underline;
    
}
.text-underline::after{
    color: #0a0a0a;
    
}

/* san */

.sidebar {
    padding-top: 0px;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-size: 30px;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #d4b4cf;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 100%;
    background-color: rgb(221, 236, 239); 
  }
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }